<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br />
    <% end %>
  </div>
</div>

<%= form_for(Message.new, :html => {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">名前:</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", id: "inputName", placeholder: "Name" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputBody" class="col-sm-2 control-label">内容:</label>
    <div class="col-sm-10">
      <%= f.text_area :body, class: "form-control", id: "inputBody", placeholder: "Message", size: "40x3" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
